.App {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    color: var(--color-primary);
    background-color: var(--bg);
}

.App > .Header {
    grid-row: span 1;
    grid-column: span 12;
}

.App > .Menu {
    grid-row: span 10;
    grid-column: span 2;
}

.App > .Main {
    grid-row: span 10;
    grid-column: span 10;
}

.App > .Footer {
    grid-row: span 1;
    grid-column: span 12;
}